
*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

h1{
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.4rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 5rem;
  }
}

li {
  list-style: none;
  margin-right: 14px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

input {
  outline: 0;
}

.main-screen {
  background-image: url("../public/bgsrm.jpeg");
  width: 100%;
  height: 91.5vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  width: 70%;
  border-left: 3px solid rgb(109, 108, 108);
  border-top: 3px solid rgb(109, 108, 108);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.nav {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #022F96;
  padding-top: 2rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.nav-img {
  width: 150px;
  height: 55px;
  margin-left: 5rem;
  background-color: #000;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-text:hover {
  color:#fff;
  transition: 0.2s;
}

.lrbg {
  width: 100%;
  height: 110vh;
  background: linear-gradient(150deg, rgb(248, 175, 175), rgb(180, 218, 255), rgb(4, 45, 87));
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div {
  width: 400px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 2.5rem 0;
}

.input {
  border: 0;
  border-bottom: 3px solid gray;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: border-bottom-color 0.7s;
  width: 250px;
  margin-top: 27px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.input:focus {
  border-bottom-color: dodgerblue;
}

.lr-btn {
  width: 65%;
  height: 40px;
  margin-left: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(73, 158, 244);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 25px;
  border: 0;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.lr-head {
  left: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: rgb(111, 164, 216);
}

.error-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  color: rgb(254, 61, 61);
  font-weight: 400;
}

.profile-inp-div {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 9px;
}

.profile-inp {
  width: 300px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

.profile-btn {
  width: 80px;
  height: 30px;
  background-color: rgb(101, 248, 101);
  border-width: 0 5px;
  border-color: lightgreen;
  color: #fff;
  border-radius: 1.5px;
  font-weight: 500;
}


/* hello */

:root {
  --color-primary: #00d9ff;
  --color-secondary: #066cf1;
  --color-accent: #ff3400;
  --color-headings: #160760;
  --color-body: #918ca4;
  --padding-vertical: 6rem;
}

/*TYPOGRAPHY*/
*,
*:after,
*:before {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  color: var(--color-body);
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.4rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 5rem;
  }
}

/*LINKS*/
a {
  text-decoration: none;
}

.link-arrow {
  text-transform: uppercase;
  color: var(--color-accent);
  margin-left: 5px;
}

.link-arrow:after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.3s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

.home {
  color: #f3f3f3;
  font-style: 1.5rem;
  font-weight: bold;
  margin-left: 710px;
}

.home:hover {
  color: #00d9ff;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*BADGES*/
.badge {
  border-radius: 30px;
  font-size: 2.5rem;
  white-space: nowrap;
  font-weight: 600;
  padding: 5px 18px;
  color: var(--color-headings);
  align-items: center;
  justify-content: center;
}

.badge__primary {
  background: var(--color-primary);
}

.badge__secondary {
  background: var(--color-secondary);
}

.badge__accent {
  background: var(--color-accent);
}

.badge--small {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1rem;
  }
}

/*BUTTONS*/
.btn {
  padding: 1rem 3vw;
  font-size: 1rem;
  font-weight: 300;
  border: 0;
  cursor: pointer;
  border-radius: 3rem;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 2rem 0;
  outline: 0;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--accent {
  background: var(--color-accent);
  color: rgb(214, 196, 196);
}

.btn--primary:hover {
  background: var(--color-secondary);
}

.btn--secondary:hover {
  background: var(--color-primary);
}

.btn--accent:hover {
  background: #fa5d35;
}

.btn-block {
  display: inline-block;
  width: 100%;
}

.btn-outline {
  background: #fff;
  color: dodgerblue;
  border: 2px solid var(--color-headings);
}

.btn-outline:hover {
  background: yellow;
}

.btn--large {
  padding-left:2rem;
  padding-right:2rem;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.8rem;
  }
}

/*MEDIA OBJECTS*/
.media {
  display: inline-flex;
  font-weight: 400;
  margin: 1rem;
}

.media__body {
  padding-left: 1.5rem;
}

.media .media__text {
  font-style: italic;
  font-size: 2rem;
  position: relative;
  margin-left: 25px;
}

.line {
  color: rgb(171, 241, 243);
}

@media screen and (min-width: 768px) {
  .quote__text {
    color: #fff;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 2rem;
    font-style: italic;
    font-size: medium;
  }
}

/*INPUT*/
.input {
  padding: 1rem 2rem;
  border-radius: 3rem;
  outline: 0;
  color: var(--color-headings);
  border: 1px solid #fff;
  font-size: 3rem;
}

::placeholder {
  color: grey;
}

.input:focus {
  border: 1px solid dodgerblue;
}

.input-group {
  border-radius: 30px;
  border: 1px solid grey;
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
  width: 0;
  opacity: 0.4;
}

.input-group .btn {
  margin: 4px;
}

.input-group .icon:hover {
  fill: dodgerblue;
  transition: fill 0.4s;
}

@media screen and (min-width: 768px) {
  .input {
    font-size: 1.5rem;
  }
}

/*CARDS*/
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #a19e9e;
  overflow: hidden;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: white;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: white;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/*QUOTES*/
.quote {
  font-size: 3rem;
  font-style: italic;
  color: #5c5577;
  line-height: 1;
  padding-left: 2rem;
  position: relative;
  margin-top: 10rem;
}

.quote__text:before {
  content: open-quote;
}

.quote__text:after {
  content: close-quote;
}

.quote__icon {
  position: relative;
  margin-bottom: 10px;
}

.quote__text {
  position: relative;
  width: 100%;
  padding-right: 5rem;
}

/*GRIDS*/
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1X2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*TESTIMONIALS*/
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
  width: 300px;
  margin: 0 1.5rem;
}

.testimonial__image>img {
  position: relative;
  width: 100%;
}

.testimonial__image>.icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) {

  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .block>.card {
    width: 70%;
    position: relative;
    margin-left: 25rem;
  }
}

/*CALLOUTS*/
.callout {
  padding: 3rem;
  border-radius: 20px;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  font-size: 3rem;
  margin-top: 0;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout {
    width: 50%;
    position: relative;
    margin-left: 40rem;
  }

  @media screen and (min-width: 1024px) {
    .callout__content {
      text-align: left;
    }

    .callout .btn {
      justify-self: start;
      margin: 0 2rem;
    }

    .callout .grid--1X2 {
      grid-template-columns: 1fr auto;
    }
  }
  /*BLOCKS*/
  .block {
    padding: var(--padding-vertical) + 2rem;
    margin-bottom: 3rem;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .block__header {
    text-align: center;
  }

  .block__heading {
    margin-top: 0;
  }

  .block--gray {
    background: gray;
    color: #7b858b;
  }

  .block--blue {
    background: #022F96;
    color: #7b858b;
  }


  .block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
    border-bottom: 1px solid #000;
  }

  .block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 95%);
    border-bottom: 1px solid #000;
  }

  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  /*HERO*/
  .hero__heading {
    margin-bottom: 1rem;
    margin-top: 10rem;
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    text-align: left;
    margin-left: 5rem;
  }

  .hero__tagline {
    font-size: 2rem;
    color: #cad1d8;
    letter-spacing: 1px;
    margin: 1rem 0 5rem 5rem;
    text-align: left;
  }

  .hero__image {
    width: 100%;
  }

  .hero__content {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1024px) {
    .hero__content {
      margin-left: 0;
    }
  }

  /*DOMAIN BLOCK*/
  .domain-block .input-group {
    box-shadow: 0 0 50px 10px rgb(209, 201, 201);
    border: 0;
    margin: 4rem 0;
  }

  .domain-block__prices {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 4rem);
    justify-items: center;
    align-items: center;
    max-width: 700px;
  }

  .domain-block .grid {
    justify-content: center;
    align-items: center;
  }

  /*FOOTER*/
  .footer {
    background: #232323;
  }

  .footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
  }

  .footer__heading {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
  }

  .footer__brand {
    margin-top: 5rem;
    text-align: center;
  }

  .footer__copyright {
    font-size: 2.1rem;
    color: #fff;
    opacity: 0.3;
  }

  .footer a {
    color: #777;
    transition: color 0.5s;
  }

  .footer a:hover {
    color: white;
  }

  .footer__section .list {
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    .footer__grids {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer .collapsible__rocket {
      display: none;
    }

    .footer .collapsible__content {
      max-height: 100%;
      opacity: 1;
    }

    .footer__brand {
      order: -1;
      margin-top: 1rem;
    }

    .footer__copyright {
      font-size: 1.5rem;
    }

    .footer__section {
      border: 0;
    }

    .footer__heading {
      font-size: 1.6rem;
    }

    .footer__brand {
      width: 100%;
      max-height: 230px;
    }
  }

  /*FEATURES BLOCK*/
  .feature {
    margin-top: 7rem;
  }

  .feature-block__heading {
    line-height: 1;
    font-size: 4rem;
  }

  .feature__heading__caption {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .feature__heading {
    font-size: 2.7rem;
    font-weight: 600;
  }

  .feature__text {
    line-height: 1.5;
    font-size: 2.2rem;
    opacity: 0.9;
  }

  .feature__image {
    position: relative;
  }

  .feature__image>img {
    width: 100%;
  }

  .feature .link {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .feature .grid {
    margin-bottom: 10rem;
  }
}
.list {
  list-style: none;
  margin-top: 5rem;
  padding-left: 0;
  color: var(--color-headings);
  cursor: pointer;
}

.input-a {
  padding: 1rem 2rem;
  border-radius: 3rem;
  outline: 0;
  color: var(--color-headings);
  border: 1px solid #fff;
  font-size: 3rem;
}

.input-group {
  border-radius: 30px;
  border: 1px solid grey;
  background: #fff;
  display: flex;
  align-self: flex-start;
  width: 50rem;
  margin-left: 5rem;
}
.input-group .input-a {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
  width: 0;
  opacity: 0.4;
}

.icon-container {
  border-radius: 100%;
  width: 64px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 110px;
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .input {
    font-size: 1.5rem;
  }
}
